.card-details {
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.301983);
}
.cart-btn {
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.301983);
}

.footer {
  bottom: 0;
  border: 1px solid #252525;
}

.place-order-btn {
  background: linear-gradient(320.66deg, #437ed6 14.75%, #33a6df 84.81%);
}

